@use 'src/styles/colors.scss';
@use 'src/styles/spacings';

.popupContainer {
  border: 2px solid colors.$background-color-btn-primary;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  padding: spacings.$sp-16;
  width: auto;
  z-index: 1300;

  & .closeIcon {
    cursor: pointer;
  }

  & .fieldsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem !important;

    & .title {
      align-items: start;
      display: flex;
      font-size: 1.3rem;
      font-weight: bold;
      justify-content: space-between;
      width: 100%;
    }

    & .hidden {
      visibility: hidden;
    }

    :global {
      .MuiInputLabel-root {
        color: colors.$background-color-btn-primary;
      }

      .MuiInput-underline::before {
        border-bottom-color: colors.$background-color-btn-primary;
      }

      .MuiInput-underline:hover::before {
        border-bottom-color: colors.$background-color-btn-primary;
      }

      .MuiInput-underline::after {
        border-bottom-color: colors.$background-color-btn-primary;
      }

      .Mui-disabled {
        & .MuiInput-underline::before {
          border-bottom-color: colors.$background-color-btn-primary;
          border-bottom-style: solid;
        }
      }
    }
  }

  & .removeAllFilters {
    color: colors.$primary-red;
  }

  &.lightTheme {
    background-color: colors.$light-base-color-100;
    color: colors.$light-text-color;

    :global {
      .MuiInputBase-input.Mui-disabled {
        color: colors.$light-text-color !important;
        -webkit-text-fill-color: colors.$light-text-color !important;
      }
    }

    & .addFilter {
      color: colors.$light-text-color;

      &:disabled {
        opacity: 0.6;
      }
    }

    .MuiSvgIcon-root {
      color: colors.$light-text-color;
    }

    .option {
      background-color: colors.$light-base-color-400;
      color: colors.$light-text-color;

      &:hover,
      &[aria-selected='true'] {
        background-color: colors.$light-base-color-200 !important;
      }
    }
  }

  &.darkTheme {
    background-color: colors.$dark-base-color-400;
    color: colors.$dark-text-color;

    :global {
      .MuiInputBase-input.Mui-disabled {
        color: colors.$dark-text-color !important;
        -webkit-text-fill-color: colors.$dark-text-color !important;
      }
    }

    & .addFilter {
      color: colors.$dark-text-color;

      &:disabled {
        opacity: 0.6;
      }
    }

    .MuiSvgIcon-root {
      color: colors.$dark-text-color;
    }

    .option {
      background-color: colors.$dark-base-color-400;
      color: colors.$dark-text-color;

      &:hover,
      &[aria-selected='true'] {
        background-color: colors.$dark-base-color-300 !important;
      }
    }
  }
}

.buttonsSection {
  display: flex;
  justify-content: space-between;
  margin-top: spacings.$sp-16;
}

.lightTextField {
  :global {
    .MuiOutlinedInput-root {
      & .MuiOutlinedInput-notchedOutline {
        border-color: colors.$light-base-color-100 !important;
      }

      & input {
        color: colors.$light-text-color !important;
      }
    }
  }
}

.darkTextField {
  :global {
    .MuiOutlinedInput-root {
      & .MuiOutlinedInput-notchedOutline {
        border-color: colors.$dark-text-color !important;
      }

      & input {
        color: colors.$dark-text-color !important;
      }
    }
  }
}

.divider {
  background-color: colors.$background-color-btn-primary !important;
  border: 0;
  border-radius: 1rem;
  height: 1px;
  width: 100%;
}

.input {
  font-size: spacings.$sp-16;
}

.textField {
  width: 100%;
}
